<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{ page.description | default: site.description }}" />
<title>{{ page.title | default: site.title }}</title>

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://mannyexpress.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="Déménagement Professionnel à Narbonne | Manny Express">
<meta property="og:description" content="Déménagement Professionnel à Narbonne, France avec Manny Express. Services rapides, sans stress, pour déménagements locaux, longue distance et internationaux.">
<meta property="og:image" content="https://mannyexpress.com/assets/img/logo.svg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="mannyexpress.com">
<meta property="twitter:url" content="https://mannyexpress.com/">
<meta name="twitter:title" content="Déménagement Professionnel à Narbonne | Manny Express">
<meta name="twitter:description" content="Déménagement Professionnel à Narbonne, France avec Manny Express. Services rapides, sans stress, pour déménagements locaux, longue distance et internationaux.">
<meta name="twitter:image" content="https://mannyexpress.com/assets/img/logo.svg">

<meta name="trustpilot-one-time-domain-verification-id" content="5791d85f-a039-4844-8b72-5dff9fcb1b33" />
<link rel="icon" type="image/png" href="{{ '/assets/img/logo.png' | relative_url }}">
<link rel="apple-touch-icon" href="{{ '/assets/img/logo.png' | relative_url }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet" />
{% include schema.html %}
<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-17649539123"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'AW-17649539123');
</script>
