<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{ page.description | default: site.description }}" />
<title>{{ page.title | default: site.title }}</title>
<link rel="icon" href="{{ '/assets/img/logo.svg' | relative_url }}" />
<meta name="trustpilot-one-time-domain-verification-id" content="5791d85f-a039-4844-8b72-5dff9fcb1b33" />
<link rel="apple-touch-icon" href="{{ '/assets/img/logo.svg' | relative_url }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet" />
<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />