<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MovingCompany",
  "name": "Manny Express",
  "image": "{{ '/assets/img/logo.png' | absolute_url }}",
  "description": "Service de déménagement professionnel et rapide. Tarifs compétitifs, équipe expérimentée.",
  "@id": "https://mannyexpress.com",
  "url": "https://mannyexpress.com",
  "telephone": "+33751168503",
  "email": "mannyexpress11@gmail.com",
  "identifier": {
    "@type": "PropertyValue",
    "propertyID": "SIRET",
    "value": "95258964600019"
  },
  "priceRange": "$$",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "36A Rue Gounod",
    "addressLocality": "Narbonne",
    "postalCode": "11100",
    "addressCountry": "FR"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 43.1833,
    "longitude": 3.0000
  },
  "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday",
      "Sunday"
    ],
    "opens": "08:00",
    "closes": "20:00"
  },
  "makesOffer": [
    {
      "@type": "Offer",
      "itemOffered": {
        "@type": "Service",
        "name": "Déménagement Narbonne et alentours"
      }
    },
    {
      "@type": "Offer",
      "itemOffered": {
        "@type": "Service",
        "name": "Déménagement Longue Distance"
      }
    },
    {
      "@type": "Offer",
      "itemOffered": {
        "@type": "Service",
        "name": "Déménagement Local"
      }
    },
    {
      "@type": "Offer",
      "itemOffered": {
        "@type": "Service",
        "name": "Déménagement International"
      }
    },
    {
      "@type": "Offer",
      "itemOffered": {
        "@type": "Service",
        "name": "Déménagement d'Entreprise"
      }
    },
    {
      "@type": "Offer",
      "itemOffered": {
        "@type": "Service",
        "name": "Emballage Professionnel"
      }
    }
  ],
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "5.0",
    "reviewCount": "16"
  },
  "review": [
    {
      "@type": "Review",
      "author": {
        "@type": "Person",
        "name": "Anaëlle Silajdzic"
      },
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": "5"
      },
      "reviewBody": "Excellente expérience avec cette entreprise de déménagement ! L’équipe a été ponctuelle, professionnelle et très soigneuse avec mes affaires. Tout s’est déroulé dans une bonne ambiance et sans aucun stress."
    },
    {
      "@type": "Review",
      "author": {
        "@type": "Person",
        "name": "Johan Nsolet"
      },
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": "5"
      },
      "reviewBody": "Merci à vous et à toute votre équipe pour votre professionnalisme. Mon déménagement de Sète à Paris s'est parfaitement déroulé. Une communication excellente et une maîtrise de l'organisation ont fait que ma famille et moi étions totalement rassuré."
    },
    {
      "@type": "Review",
      "author": {
        "@type": "Person",
        "name": "Alisson Silajdzic"
      },
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": "5"
      },
      "reviewBody": "Excellente expérience avec Manny Express ! Une équipe ponctuelle, professionnelle et très soigneuse avec les affaires. Le déménagement s’est déroulé sans stress, tout a été parfaitement protégé et organisé."
    },
    {
      "@type": "Review",
      "author": {
        "@type": "Person",
        "name": "Didjy Lefa"
      },
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": "5"
      },
      "reviewBody": "Un service de déménagement vraiment exceptionnel ! Toute l’équipe de Manny Express a fait preuve d’un grand professionnalisme, de ponctualité et de gentillesse, ce qui a rendu mon déménagement totalement serein."
    },
    {
      "@type": "Review",
      "author": {
        "@type": "Person",
        "name": "Pierre"
      },
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": "5"
      },
      "reviewBody": "Service impeccable ! Équipe professionnelle, rapide et très soigneuse. Mon déménagement s'est déroulé sans stress du début à la fin. Un grand merci à Manny Express pour avoir fait de mon déménagement une réussite."
    },
    {
      "@type": "Review",
      "author": {
        "@type": "Person",
        "name": "Adonai Kiala"
      },
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": "5"
      },
      "reviewBody": "Je tiens à remercier toute l’équipe pour la qualité exceptionnelle de votre service. Dès la première prise de contact, j’ai senti que j’avais affaire à de vrais professionnels."
    }
  ],
  "areaServed": {
    "@type": "Country",
    "name": "France"
  },
  "sameAs": [
    "https://www.facebook.com/profile.php?id=61577660656772",
    "https://www.tiktok.com/@manny.express11",
    "https://www.instagram.com/manny_express_11/"
  ]
}
</script>